html,
body {
  margin: 0px;
  padding: 0px;
}
html {
  background: url(img/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
ul {
  list-style-type: none;
}

/***********************************************

**************** XXlarge screen*******************

***********************************************
 */
@media screen and (min-width: 1901px) {
  strong {
    font-family: "Gugi", cursive;
    color: #7cc041;
    margin: 32px 32px;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    font-size: 70px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7f3e3;
    opacity: 0.8;
    border-radius: 30px;
  }
  .flexContainer {
    /* padding-top: 5%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
  }
  .setUp {
    font-size: 45px;
    font-family: "Bungee", cursive;
    color: #f7f3e3;
  }

  .titleMain {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    font-size: 150px;
    font-family: "Bungee", cursive;
    color: #f7f3e3;
  }

  .buttons {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
  }
  .btn {
    font-family: "Gugi", cursive;
    background: #7cc041;
    border-radius: 40px;
    border: none;
    color: #f7f3e3;
    min-width: 600px;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 17px;
  }

  .submitBtn {
    font-family: "Gugi", cursive;
    background: #7cc041;
    border-radius: 40px;
    border: none;
    color: #f7f3e3;
    min-width: 600px;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  .backBtn {
    text-decoration: none;
    border: none;
    border-radius: 100px;
    padding: 20px 30px;
    background: #7cc041;
    color: #f7f3e3;
    font-size: 45px;
    justify-content: left;
    margin: 100px 0px 0px 200px;
  }

  .btn:hover {
    background: #629733;
    cursor: pointer;
  }

  .backBtn:hover {
    background: #629733;
    cursor: pointer;
  }

  .btnVote {
    font-family: "Gugi", cursive;
    background: #239bcf;
    border-radius: 25px;
    border: none;
    color: #f7f3e3;
    min-width: 400px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }

  .btnVote:hover {
    background: #1c7ba4;
    cursor: pointer;
  }
  .prompt {
    background-color: #f7f3e3;
    opacity: 0.8;
    color: #1b3022;
    border-radius: 54px;
    padding: 250px 50px;
    margin: 50px 50px 50px 50px;
  }

  .promptText {
    font-family: "Bungee", cursive;
    text-transform: capitalize;
    font-size: 96px;
    color: #1b3022;
    padding: 50px 10px;
  }
  .infoHost {
    color: #f7f3e3;
    /* padding-top: 5%; */
    font-family: "Bungee", cursive;
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
  }
  .infoBigHost {
    color: #f7f3e3;
    font-family: "Bungee", cursive;
    font-size: 85px;
    text-align: center;
  }

  .infoBigJoin {
    color: #f7f3e3;
    font-family: "Bungee", cursive;
    font-size: 55px;
    text-align: center;
  }

  .infoInstructions {
    color: #f7f3e3;
    /* padding-top: 5%; */
    font-family: "Bungee", cursive;
    font-size: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
  }
  .infoInstructionsBig {
    color: #f7f3e3;
    font-family: "Bungee", cursive;
    font-size: 65px;
    text-align: center;
  }

  .infoWaiting {
    color: #f7f3e3;
    padding: 5% 5% 0% 5%;
    font-family: "Bungee", cursive;
    font-size: 45px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
  }

  .gameID {
    font-family: "Bungee", cursive;
    font-size: 90px;
    text-align: center;
    color: #f7f3e3;
  }

  .inputLabels {
    font-family: "Gugi", cursive;
    font-size: 40px;
    color: #f7f3e3;
  }
  .inputField {
    border-radius: 17px;
    border: none;
    min-width: 700px;
    padding: 15px 32px;
    align-items: flex-end;
    background: #f7f3e3;
    box-shadow: 10px 10px 5px rgb(151, 151, 125) inset;
    font-size: large;
  }
  .row {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
  }
  .row > label {
    padding: 0.5em 1em 0.5em 0;
    flex: 1;
  }
  .row > input {
    flex: 2;
  }
  .response {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
  }
  .answerField {
    border-radius: 17px;
    border: none;
    min-width: 500px;
    padding: 25px 42px;
    align-items: flex-end;
    background: #f7f3e3;
    box-shadow: 10px 10px 5px rgb(151, 151, 125) inset;
    font-size: large;
    margin: 50px 0px;
  }
  .gremlinizedScreen {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .gremMSG {
    font-size: 45px;
    /* position: absolute; */
    font-family: "Bungee", cursive;
    color: #f7f3e3;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    justify-content: center;
    align-items: center;
  }
  .gremLetter {
    display: inline-block;
    font-size: 55px;
    font-family: "Bungee", cursive;
    color: #f7f3e3;
    background: #8f56a3;
    border-radius: 18px;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    justify-content: center;
    align-items: center;
  }
  .gremlinizedImg {
    display: inline-block;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .letterGrid {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }

  .gameEndWrapper {
    color: #f7f3e3;
    font-family: "Bungee", cursive;
    font-size: 25px;
    text-align: center;
  }

  .storyOutput {
    font-family: "Bungee", cursive;
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    background-color: #f7f3e3;
    opacity: 0.8;
    color: #1b3022;
    border-radius: 54px;
    padding: 20px 100px;
    line-height: 60px;
  }
  .gameLeaderBoard {
    padding-bottom: 100px;
  }
  .scores {
    color: #f7f3e3;
    font-family: "Bungee", cursive;
    font-size: 25px;
    text-align: left;
    line-height: 55px;
    padding: 0px 350px;
  }

  .greenGremlin1 {
    position: fixed;
    bottom: -220px;
    left: 90px;
    width: 410px;
  }

  .greenGremlin2 {
    position: fixed;
    top: 10%;
    left: 80%;
    width: 350px;
  }

  .purpGremlin1 {
    position: fixed;
    top: 60%;
    left: 80%;
    width: 350px;
  }
  .pinkGremlin1 {
    position: fixed;
    top: 0%;
    left: 10px;
    width: 320px;
  }
  .blueGremlin1 {
    position: fixed;
    top: 70%;
    left: 20%;
    width: 300px;
  }
  .blueGremlin2 {
    position: fixed;
    bottom:0px;
    left: 70%;
    width: 270px;
  }
}

/***********************************************

**************** Xlarge screen*******************

***********************************************
 */
@media screen and (min-width: 1201px) {
  @media screen and (max-width: 1900px) {
    strong {
      font-family: "Gugi", cursive;
      color: #7cc041;
      margin: 32px 32px;
      padding: 10px 60px;
      text-align: center;
      text-decoration: none;
      font-size: 50px;
      justify-content: space-evenly;
      align-items: center;
      background-color: #f7f3e3;
      opacity: 0.8;
      border-radius: 25px;
    }
    .flexContainer {
      /* padding-top: 5%; */
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .setUp {
      font-size: 45px;
      font-family: "Bungee", cursive;
      color: #f7f3e3;
    }

    .titleMain {
      padding-top: 5%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
      font-size: 100px;
      font-family: "Bungee", cursive;
      color: #f7f3e3;
    }

    .buttons {
      position: relative;
      margin: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .btn {
      font-family: "Gugi", cursive;
      background: #7cc041;
      border-radius: 25px;
      border: none;
      color: #f7f3e3;
      min-width: 500px;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      margin-bottom: 17px;
    }
    .response {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .submitBtn {
      font-family: "Gugi", cursive;
      background: #7cc041;
      border-radius: 40px;
      border: none;
      color: #f7f3e3;
      min-width: 475px;
      padding: 20px 30px;
      text-align: center;
      text-decoration: none;
      font-size: 25px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }
    .backBtn {
      text-decoration: none;
      border: none;
      border-radius: 100px;
      padding: 10px 15px;
      background: #7cc041;
      color: #f7f3e3;
      font-size: 35px;
      justify-content: left;
      margin: 100px 0px 0px 200px;
    }

    .btn:hover {
      background: #629733;
      cursor: pointer;
    }

    .btnVote {
      font-family: "Gugi", cursive;
      background: #239bcf;
      border-radius: 25px;
      border: none;
      color: #f7f3e3;
      min-width: 400px;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }

    .btnVote:hover {
      background: #1c7ba4;
      cursor: pointer;
    }
    .prompt {
      background-color: #f7f3e3;
      opacity: 0.8;
      color: #1b3022;
      border-radius: 54px;
      padding: 200px 50px;
      margin: 50px 50px 50px 50px;
    }

    .promptText {
      font-family: "Bungee", cursive;
      text-transform: capitalize;
      font-size: 80px;
      color: #1b3022;
      padding: 50px 10px;
    }
    .infoHost {
      color: #f7f3e3;
      /* padding-top: 5%; */
      font-family: "Bungee", cursive;
      font-size: 35px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .infoBigHost {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 65px;
      text-align: center;
    }

    .infoBigJoin {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 45px;
      text-align: center;
    }

    .infoInstructions {
      color: #f7f3e3;
      /* padding-top: 5%; */
      font-family: "Bungee", cursive;
      font-size: 25px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .infoInstructionsBig {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 55px;
      text-align: center;
    }

    .infoWaiting {
      color: #f7f3e3;
      padding: 5% 5% 0% 5%;
      font-family: "Bungee", cursive;
      font-size: 45px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }

    .gameID {
      font-family: "Bungee", cursive;
      font-size: 80px;
      text-align: center;
      color: #f7f3e3;
    }

    .inputLabels {
      font-family: "Gugi", cursive;
      font-size: 30px;
      color: #f7f3e3;
    }
    .inputField {
      border-radius: 17px;
      border: none;
      min-width: 500px;
      padding: 15px 32px;
      align-items: flex-end;
      background: #f7f3e3;
      box-shadow: 10px 10px 5px rgb(151, 151, 125) inset;
      font-size: large;
    }
    .row {
      display: flex;
      justify-content: flex-end;
      padding: 0.5em;
    }
    .row > label {
      padding: 0.5em 1em 0.5em 0;
      flex: 1;
    }
    .row > input {
      flex: 2;
    }

    .answerField {
      border-radius: 17px;
      border: none;
      min-width: 400px;
      padding: 20px 37px;
      align-items: flex-end;
      background: #f7f3e3;
      box-shadow: 10px 10px 5px rgb(151, 151, 125) inset;
      font-size: large;
      margin: 50px 0px;
    }
    .gremlinizedScreen {
      position: relative;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    .gremMSG {
      font-size: 35px;
      /* position: absolute; */
      font-family: "Bungee", cursive;
      color: #f7f3e3;
      text-align: center;
      text-decoration: none;
      padding: 15px 32px;
      justify-content: center;
      align-items: center;
    }
    .gremLetter {
      display: inline-block;
      font-size: 45px;
      font-family: "Bungee", cursive;
      color: #f7f3e3;
      background: #8f56a3;
      border-radius: 18px;
      text-align: center;
      text-decoration: none;
      padding: 15px 32px;
      justify-content: center;
      align-items: center;
    }
    .gremlinizedImg {
      display: inline-block;
      width: 25%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .letterGrid {
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
    }

    .gameEndWrapper {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 25px;
      text-align: center;
    }

    .storyOutput {
      font-family: "Bungee", cursive;
      text-transform: uppercase;
      text-align: left;
      font-size: 30px;
      background-color: #f7f3e3;
      opacity: 0.8;
      color: #1b3022;
      border-radius: 54px;
      padding: 20px 100px;
      line-height: 60px;
    }
    .gameLeaderBoard {
      padding-bottom: 100px;
    }
    .scores {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 25px;
      text-align: left;
      line-height: 55px;
      padding: 0px 350px;
    }

    .greenGremlin1 {
      position: fixed;
      top: 79%;
      left: 10%;
      width: 220px;
    }

    .greenGremlin2 {
      position: fixed;
      top: 50px;
      right: 0%;
      width: 220px;
    }

    .purpGremlin1 {
      position: fixed;
      top: 60%;
      left: 100%;
      width: 190px;
    }
    .pinkGremlin1 {
      position: fixed;
      top: -40px;
      left: 10px;
      width: 190px;
    }
    .blueGremlin1 {
      position: fixed;
      bottom:0px;
      left: 20%;
      width: 170px;
    }
    .blueGremlin2 {
      position: fixed;
      bottom:0px;
      left: 70%;
      width: 170px;
    }

    .spinGremlin {
      position: fixed;
      left:0px;
      top: 45%;
      width: 170px;

    }
  }
}

/***********************************************

****************large screen*******************

***********************************************
 */

@media screen and (min-width: 1001px) {
  @media screen and (max-width: 1200px) {
    strong {
      font-family: "Gugi", cursive;
      color: #7cc041;
      margin: 32px 32px;
      padding: 10px 50px;
      text-align: center;
      text-decoration: none;
      font-size: 40px;
      justify-content: space-evenly;
      align-items: center;
      background-color: #f7f3e3;
      opacity: 0.8;
      border-radius: 23px;
    }
    .flexContainer {
      /* padding-top: 5%; */
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .setUp {
      font-size: 45px;
      font-family: "Bungee", cursive;
      color: #f7f3e3;
    }

    .titleMain {
      padding-top: 5%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
      font-size: 100px;
      font-family: "Bungee", cursive;
      color: #f7f3e3;
    }

    .buttons {
      position: relative;
      margin: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .btn {
      font-family: "Gugi", cursive;
      background: #7cc041;
      border-radius: 25px;
      border: none;
      color: #f7f3e3;
      min-width: 400px;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      margin-bottom: 17px;
    }
    .response {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .submitBtn {
      font-family: "Gugi", cursive;
      background: #7cc041;
      border-radius: 40px;
      border: none;
      color: #f7f3e3;
      min-width: 400px;
      padding: 55px 0px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }

    .backBtn {
      text-decoration: none;
      border: none;
      border-radius: 30px;
      padding: 10px 10px;
      background: #7cc041;
      color: #f7f3e3;
      font-size: 25px;
      justify-content: left;
      margin: 100px 0px 0px 200px;
    }

    .btn:hover {
      background: #629733;
      cursor: pointer;
    }

    .btnVote {
      font-family: "Gugi", cursive;
      background: #239bcf;
      border-radius: 25px;
      border: none;
      color: #f7f3e3;
      min-width: 400px;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }

    .btnVote:hover {
      background: #1c7ba4;
      cursor: pointer;
    }
    .prompt {
      background-color: #f7f3e3;
      opacity: 0.8;
      color: #1b3022;
      border-radius: 54px;
      padding: 200px 150px;
      margin: 40px 40px 40px 40px;
    }

    .promptText {
      font-family: "Bungee", cursive;
      text-transform: capitalize;
      font-size: 75px;
      color: #1b3022;
      padding: 20px 10px;
    }
    .infoHost {
      color: #f7f3e3;
      /* padding-top: 5%; */
      font-family: "Bungee", cursive;
      font-size: 25px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .infoBigHost {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 45px;
      text-align: center;
    }

    .infoBigJoin {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 45px;
      text-align: center;
    }

    .infoInstructions {
      color: #f7f3e3;
      /* padding-top: 5%; */
      font-family: "Bungee", cursive;
      font-size: 25px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .infoInstructionsBig {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 45px;
      text-align: center;
    }

    .infoWaiting {
      color: #f7f3e3;
      padding: 5% 5% 0% 5%;
      font-family: "Bungee", cursive;
      font-size: 45px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }

    .gameID {
      font-family: "Bungee", cursive;
      font-size: 80px;
      text-align: center;
      color: #f7f3e3;
    }

    .inputLabels {
      font-family: "Gugi", cursive;
      font-size: 30px;
      color: #f7f3e3;
    }
    .inputField {
      border-radius: 17px;
      border: none;
      min-width: 500px;
      padding: 15px 32px;
      align-items: flex-end;
      background: #f7f3e3;
      box-shadow: 10px 10px 5px rgb(151, 151, 125) inset;
      font-size: large;
    }
    .row {
      display: flex;
      justify-content: flex-end;
      padding: 0.5em;
    }
    .row > label {
      padding: 0.5em 1em 0.5em 0;
      flex: 1;
    }
    .row > input {
      flex: 2;
    }

    .answerField {
      border-radius: 17px;
      border: none;
      min-width: 400px;
      padding: 15px 0px;
      align-items: flex-end;
      background: #f7f3e3;
      box-shadow: 10px 10px 5px rgb(151, 151, 125) inset;
      font-size: large;
      margin: 30px 0px;
    }
    .gremlinizedScreen {
      position: relative;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    .gremMSG {
      font-size: 25px;
      /* position: absolute; */
      font-family: "Bungee", cursive;
      color: #f7f3e3;
      text-align: center;
      text-decoration: none;
      padding: 15px 32px;
      justify-content: center;
      align-items: center;
    }
    .gremLetter {
      display: inline-block;
      font-size: 35px;
      font-family: "Bungee", cursive;
      color: #f7f3e3;
      background: #8f56a3;
      border-radius: 18px;
      text-align: center;
      text-decoration: none;
      padding: 15px 32px;
      justify-content: center;
      align-items: center;
    }
    .gremlinizedImg {
      display: inline-block;
      width: 25%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .letterGrid {
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
    }

    .gameEndWrapper {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 25px;
      text-align: center;
    }

    .storyOutput {
      font-family: "Bungee", cursive;
      text-transform: uppercase;
      text-align: left;
      font-size: 30px;
      background-color: #f7f3e3;
      opacity: 0.8;
      color: #1b3022;
      border-radius: 54px;
      padding: 20px 100px;
      line-height: 60px;
      margin: 20px 0px;
    }
    .gameLeaderBoard {
      padding-bottom: 100px;
    }
    .scores {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 25px;
      text-align: left;
      line-height: 55px;
      padding: 0px 350px;
    }

    .greenGremlin1 {
      position: fixed;
      top: 70%;
      left: 90px;
      width: 200px;
    }
    /* btoomGrem */

    .greenGremlin2 {
      position: fixed;
      top: 10px;
      left: 85%;
      width: 190px;
    }

    .purpGremlin1 {
      position: fixed;
      top: 60%;
      left: 88%;
      width: 190px;
    }
    .pinkGremlin1 {
      position: fixed;
      top: -40px;
      left: 0px;
      width: 190px;
    }
    .blueGremlin1 {
      position: fixed;
      top: 70%;
      left: 20%;
      width: 150px;
    }
    .blueGremlin2 {
      position: fixed;
      top: 80%;
      left: 70%;
      width: 170px;
    }
  }
}

/***********************************************

****************medium screen*****************

***********************************************
 */

@media screen and (min-width: 751px) {
  @media screen and (max-width: 1000px) {
    strong {
      font-family: "Gugi", cursive;
      color: #7cc041;
      margin: 32px 32px;
      padding: 10px 50px;
      text-align: center;
      text-decoration: none;
      font-size: 40px;
      justify-content: space-evenly;
      align-items: center;
      background-color: #f7f3e3;
      opacity: 0.8;
      border-radius: 23px;
    }
    .flexContainer {
      /* padding-top: 5%; */
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .setUp {
      font-size: 45px;
      font-family: "Bungee", cursive;
      color: #f7f3e3;
    }

    .titleMain {
      padding-top: 5%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
      font-size: 60px;
      font-family: "Bungee", cursive;
      color: #f7f3e3;
    }
    .buttons {
      position: relative;
      margin: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .btn {
      font-family: "Gugi", cursive;
      background: #7cc041;
      border-radius: 25px;
      border: none;
      color: #f7f3e3;
      min-width: 200%;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      margin-bottom: 17px;
    }
    .response {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .submitBtn {
      font-family: "Gugi", cursive;
      background: #7cc041;
      border-radius: 30px;
      border: none;
      color: #f7f3e3;
      min-width: 300px;
      padding: 10px 0px;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }

    .backBtn {
      text-decoration: none;
      border: none;
      border-radius: 30px;
      padding: 10px 10px;
      background: #7cc041;
      color: #f7f3e3;
      font-size: 25px;
      justify-content: left;
      margin: 40px 0px 0px 40px;
    }

    .btn:hover {
      background: #629733;
      cursor: pointer;
    }

    .btnVote {
      font-family: "Gugi", cursive;
      background: #239bcf;
      border-radius: 25px;
      border: none;
      color: #f7f3e3;
      min-width: 400px;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }

    .btnVote:hover {
      background: #1c7ba4;
      cursor: pointer;
    }
    .prompt {
      background-color: #f7f3e3;
      opacity: 0.8;
      color: #1b3022;
      border-radius: 54px;
      padding: 250px 50px;
      margin: 50px 50px 50px 50px;
    }

    .promptText {
      font-family: "Bungee", cursive;
      text-transform: capitalize;
      font-size: 76px;
      color: #1b3022;
      padding: 50px 10px;
    }
    .infoHost {
      color: #f7f3e3;
      padding: 2% 5% 0% 5%;
      font-family: "Bungee", cursive;
      font-size: 25px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .infoBigHost {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 45px;
      text-align: center;
    }

    .infoBigJoin {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 30px;
      text-align: center;
    }

    .infoInstructions {
      padding: 2% 5% 0% 5%;
      color: #f7f3e3;
      /* padding-top: 5%; */
      font-family: "Bungee", cursive;
      font-size: 25px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .infoInstructionsBig {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 45px;
      text-align: center;
    }

    .infoWaiting {
      color: #f7f3e3;
      padding: 5% 5% 0% 5%;
      font-family: "Bungee", cursive;
      font-size: 45px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }

    .gameID {
      font-family: "Bungee", cursive;
      font-size: 80px;
      text-align: center;
      color: #f7f3e3;
    }

    .inputLabels {
      font-family: "Gugi", cursive;
      font-size: 25px;
      color: #f7f3e3;
    }
    .inputField {
      border-radius: 17px;
      border: none;
      min-width: 300px;
      padding: 15px 32px;
      align-items: flex-end;
      background: #f7f3e3;
      box-shadow: 10px 10px 5px rgb(151, 151, 125) inset;
      font-size: large;
    }
    .row {
      display: flex;
      justify-content: flex-end;
      padding: 0.5em;
    }
    .row > label {
      padding: 0.5em 1em 0.5em 0;
      flex: 1;
    }
    .row > input {
      flex: 2;
    }

    .answerField {
      border-radius: 17px;
      border: none;
      min-width: 300px;
      padding: 10px 0px;
      align-items: flex-end;
      background: #f7f3e3;
      box-shadow: 10px 10px 5px rgb(151, 151, 125) inset;
      font-size: large;
    }
    .gremlinizedScreen {
      position: relative;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    .gremMSG {
      font-size: 20px;
      /* position: absolute; */
      font-family: "Bungee", cursive;
      color: #f7f3e3;
      text-align: center;
      text-decoration: none;
      padding: 15px 32px;
      justify-content: center;
      align-items: center;
    }
    .gremLetter {
      display: inline-block;
      font-size: 25px;
      font-family: "Bungee", cursive;
      color: #f7f3e3;
      background: #8f56a3;
      border-radius: 18px;
      text-align: center;
      text-decoration: none;
      padding: 15px 32px;
      justify-content: center;
      align-items: center;
    }
    .gremlinizedImg {
      display: inline-block;
      width: 20%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .letterGrid {
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
    }

    .gameEndWrapper {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 25px;
      text-align: center;
    }

    .storyOutput {
      font-family: "Bungee", cursive;
      text-transform: uppercase;
      text-align: left;
      font-size: 30px;
      background-color: #f7f3e3;
      opacity: 0.8;
      color: #1b3022;
      border-radius: 54px;
      padding: 20px 100px;
      line-height: 60px;
    }
    .gameLeaderBoard {
      padding-bottom: 100px;
    }
    .scores {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 25px;
      text-align: left;
      line-height: 55px;
      padding: 0px 350px;
    }
    .greenGremlin1 {
      position: fixed;
      top: 80%;
      left: 10%;
      width: 20%;
    }

    .greenGremlin2 {
      position: fixed;
      top: 10%;
      left: 70%;
      width: 20%;
    }

    .purpGremlin1 {
      position: fixed;
      top: 60%;
      left: 80%;
      width: 20%;
    }
    .pinkGremlin1 {
      position: fixed;
      top: 0%;
      left: 1%;
      width: 20%;
    }
    .blueGremlin1 {
      position: fixed;
      top: 70%;
      left: 20%;
      width: 20%;
    }
    .blueGremlin2 {
      position: fixed;
      top: 80%;
      left: 60%;
      width: 20%;
    }
  }
}

/***********************************************

****************small screen*****************

***********************************************
 */

@media screen and (min-width: 451px) {
  @media screen and (max-width: 750px) {
    strong {
      font-family: "Gugi", cursive;
      color: #7cc041;
      margin: 10px 10px;
      padding: 10px 50px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      justify-content: space-evenly;
      align-items: center;
      background-color: #f7f3e3;
      opacity: 0.8;
      border-radius: 12px;
    }
    .flexContainer {
      padding: 0% 3% 0 3%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }

    .setUp {
      /* padding-top: 25%; */
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
      font-size: 45px;
      font-family: "Bungee", cursive;
      color: #f7f3e3;
    }

    .titleMain {
      padding-top: 10%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
      font-size: 40px;
      font-family: "Bungee", cursive;
      color: #f7f3e3;
    }
    .buttons {
      position: relative;
      margin: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .btn {
      font-family: "Gugi", cursive;
      background: #7cc041;
      border-radius: 25px;
      border: none;
      color: #f7f3e3;
      min-width: 200px;
      padding: 10px 0px;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      margin-bottom: 17px;
    }

    .response {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .submitBtn {
      font-family: "Gugi", cursive;
      background: #7cc041;
      border-radius: 40px;
      border: none;
      color: #f7f3e3;
      min-width: 350px;
      padding: 15px 0px;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }

    .backBtn {
      text-decoration: none;
      border: none;
      border-radius: 60px;
      padding: 10px 10px;
      background: #7cc041;
      color: #f7f3e3;
      font-size: 17px;
      justify-content: left;
      margin: 0px 10px;
    }

    .btn:hover {
      background: #629733;
      cursor: pointer;
    }

    .btnVote {
      font-family: "Gugi", cursive;
      background: #239bcf;
      border-radius: 25px;
      border: none;
      color: #f7f3e3;
      min-width: 280px;
      padding: 20px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 25px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }

    .btnVote:hover {
      background: #1c7ba4;
      cursor: pointer;
    }
    .prompt {
      background-color: #f7f3e3;
      opacity: 0.8;
      color: #1b3022;
      border-radius: 54px;
      padding: 50px 10px;
      margin: 40px 40px 40px 40px;
    }

    .promptText {
      font-family: "Bungee", cursive;
      text-transform: capitalize;
      font-size: 30px;
      color: #1b3022;
      padding: 50px 10px;
    }
    .infoHost {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 18px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
      margin-top: 30px;
    }
    .infoBigHost {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 20px;
      text-align: center;
    }

    .infoBigJoin {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 20px;
      text-align: center;
    }

    .infoInstructions {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 15px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .infoInstructionsBig {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 20px;
      text-align: center;
    }

    .infoWaiting {
      color: #f7f3e3;
      padding: 5% 5% 0% 5%;
      font-family: "Bungee", cursive;
      font-size: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }

    .gameID {
      font-family: "Bungee", cursive;
      font-size: 45px;
      text-align: center;
      color: #f7f3e3;
    }

    .inputLabels {
      font-family: "Gugi", cursive;
      font-size: 15px;
      color: #f7f3e3;
    }
    .inputField {
      font-size: 16px;
      border-radius: 10px;
      border: none;
      min-width: 350px;
      padding: 5px 16px;
      align-items: flex-end;
      background: #f7f3e3;
      box-shadow: 10px 10px 5px rgb(151, 151, 125) inset;
    }
    .row {
      display: flex;
      justify-content: flex-end;
      padding: 0.5em;
    }
    .row > label {
      padding: 0.5em 1em 0.5em 0;
      flex: 1;
    }
    .row > input {
      flex: 2;
    }
    .answerField {
      border-radius: 17px;
      border: none;
      min-width: 300px;
      padding: 5px 16px;
      align-items: flex-end;
      background: #f7f3e3;
      box-shadow: 10px 10px 5px rgb(151, 151, 125) inset;
      font-size: 12px;
    }
    .gremlinizedScreen {
      position: relative;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    .gremMSG {
      font-size: 25px;
      /* position: absolute; */
      font-family: "Bungee", cursive;
      color: #f7f3e3;
      text-align: center;
      text-decoration: none;
      padding: 15px 32px;
      justify-content: center;
      align-items: center;
    }
    .gremLetter {
      display: inline-block;
      font-size: 35px;
      font-family: "Bungee", cursive;
      color: #f7f3e3;
      background: #8f56a3;
      border-radius: 18px;
      text-align: center;
      text-decoration: none;
      padding: 15px 32px;
      justify-content: center;
      align-items: center;
    }
    .gremlinizedImg {
      display: inline-block;
      width: 45%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .letterGrid {
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
    }

    .gameEndWrapper {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 25px;
      text-align: center;
    }

    .storyOutput {
      font-family: "Bungee", cursive;
      text-transform: uppercase;
      text-align: left;
      font-size: 14px;
      background-color: #f7f3e3;
      opacity: 0.8;
      color: #1b3022;
      border-radius: 54px;
      padding: 30px 50px;
      line-height: 20px;
    }
    .gameLeaderBoard {
      padding-bottom: 100px;
    }
    .scores {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 15px;
      text-align: left;
      line-height: 55px;
      padding: 0px 10px;
    }
    .greenGremlin1 {
      position: fixed;
      top: 60%;
      left: 1%;
      width: 20%;
    }

    .greenGremlin2 {
      position: fixed;
      top: 5%;
      left: 80%;
      width: 20%;
    }

    .purpGremlin1 {
      position: fixed;
      top: 60%;
      left: 80%;
      width: 20%;
    }
    .pinkGremlin1 {
      position: fixed;
      top: 0%;
      left: 1%;
      width: 20%;
    }
    .blueGremlin1 {
      position: fixed;
      top: 70%;
      left: 10%;
      width: 20%;
    }
    .blueGremlin2 {
      position: fixed;
      top: 75%;
      left: 60%;
      width: 15%;
    }
  }
}

/***********************************************

****************smallISH screen*****************

***********************************************
 */

@media screen and (min-width: 351px) {
  @media screen and (max-width: 450px) {
    strong {
      font-family: "Gugi", cursive;
      color: #7cc041;
      margin: 10px 10px;
      padding: 10px 50px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      justify-content: space-evenly;
      align-items: center;
      background-color: #f7f3e3;
      opacity: 0.8;
      border-radius: 12px;
    }
    .flexContainer {
      padding: 0% 3% 0 3%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }

    .setUp {
      /* padding-top: 25%; */
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
      font-size: 45px;
      font-family: "Bungee", cursive;
      color: #f7f3e3;
    }

    .titleMain {
      padding-top: 30%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
      font-size: 40px;
      font-family: "Bungee", cursive;
      color: #f7f3e3;
    }
    .buttons {
      position: relative;
      margin: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .btn {
      font-family: "Gugi", cursive;
      background: #7cc041;
      border-radius: 25px;
      border: none;
      color: #f7f3e3;
      min-width: 280px;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      margin-bottom: 17px;
    }

    .response {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .submitBtn {
      font-family: "Gugi", cursive;
      background: #7cc041;
      border-radius: 40px;
      border: none;
      color: #f7f3e3;
      min-width: 350px;
      padding: 15px 0px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }

    .backBtn {
      text-decoration: none;
      border: none;
      border-radius: 60px;
      padding: 10px 10px;
      background: #7cc041;
      color: #f7f3e3;
      font-size: 17px;
      justify-content: left;
      margin: 20px 30px;
    }

    .btn:hover {
      background: #629733;
      cursor: pointer;
    }

    .btnVote {
      font-family: "Gugi", cursive;
      background: #239bcf;
      border-radius: 25px;
      border: none;
      color: #f7f3e3;
      min-width: 280px;
      padding: 20px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 25px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }

    .btnVote:hover {
      background: #1c7ba4;
      cursor: pointer;
    }
    .prompt {
      background-color: #f7f3e3;
      opacity: 0.8;
      color: #1b3022;
      border-radius: 54px;
      padding: 50px 10px;
      margin: 40px 40px 40px 40px;
    }

    .promptText {
      font-family: "Bungee", cursive;
      text-transform: capitalize;
      font-size: 30px;
      color: #1b3022;
      padding: 50px 10px;
    }
    .infoHost {
      color: #f7f3e3;
      padding-top: 15%;
      font-family: "Bungee", cursive;
      font-size: 18px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .infoBigHost {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 30px;
      text-align: center;
    }

    .infoBigJoin {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 35px;
      text-align: center;
    }

    .infoInstructions {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 18px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }
    .infoInstructionsBig {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 30px;
      text-align: center;
    }

    .infoWaiting {
      color: #f7f3e3;
      padding: 5% 5% 0% 5%;
      font-family: "Bungee", cursive;
      font-size: 30px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
    }

    .gameID {
      font-family: "Bungee", cursive;
      font-size: 45px;
      text-align: center;
      color: #f7f3e3;
    }

    .inputLabels {
      font-family: "Gugi", cursive;
      font-size: 20px;
      color: #f7f3e3;
    }
    .inputField {
      font-size: 16px;
      border-radius: 17px;
      border: none;
      min-width: 250px;
      padding: 15px 16px;
      align-items: flex-end;
      background: #f7f3e3;
      box-shadow: 8px 8px 3px rgb(151, 151, 125) inset;
    }

    .answerField {
      border-radius: 17px;
      border: none;
      min-width: 300px;
      padding: 10px 16px;
      align-items: flex-end;
      background: #f7f3e3;
      box-shadow: 10px 10px 5px rgb(151, 151, 125) inset;
      font-size: large;
    }
    .gremlinizedScreen {
      position: relative;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    .gremMSG {
      font-size: 25px;
      /* position: absolute; */
      font-family: "Bungee", cursive;
      color: #f7f3e3;
      text-align: center;
      text-decoration: none;
      padding: 15px 32px;
      justify-content: center;
      align-items: center;
    }
    .gremLetter {
      display: inline-block;
      font-size: 35px;
      font-family: "Bungee", cursive;
      color: #f7f3e3;
      background: #8f56a3;
      border-radius: 18px;
      text-align: center;
      text-decoration: none;
      padding: 15px 32px;
      justify-content: center;
      align-items: center;
    }
    .gremlinizedImg {
      display: inline-block;
      width: 45%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .letterGrid {
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
    }

    .gameEndWrapper {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 25px;
      text-align: center;
    }

    .storyOutput {
      font-family: "Bungee", cursive;
      text-transform: uppercase;
      text-align: left;
      font-size: 14px;
      background-color: #f7f3e3;
      opacity: 0.8;
      color: #1b3022;
      border-radius: 54px;
      padding: 30px 50px;
      line-height: 20px;
    }
    .gameLeaderBoard {
      padding-bottom: 100px;
    }
    .scores {
      color: #f7f3e3;
      font-family: "Bungee", cursive;
      font-size: 15px;
      text-align: left;
      line-height: 55px;
      padding: 0px 10px;
    }
    .greenGremlin1 {
      position: fixed;
      top: 80%;
      left: 1%;
      width: 30%;
    }

    .greenGremlin2 {
      position: fixed;
      top: 0%;
      left: 70%;
      width: 30%;
    }

    .purpGremlin1 {
      position: fixed;
      top: 65%;
      left: 70%;
      width: 35%;
    }
    .pinkGremlin1 {
      position: fixed;
      top: -20px;
      left: 1%;
      width: 35%;
    }
    .blueGremlin1 {
      position: fixed;
      bottom: 0px;
      left: 10%;
      width: 15%;
    }
    .blueGremlin2 {
      position: fixed;
      bottom: 0px;
      left: 60%;
      width: 15%;
    }
  }
}

/***********************************************

**************** x-small screen*****************

***********************************************
 */

@media screen and (max-width: 350px) {
  strong {
    font-family: "Gugi", cursive;
    color: #7cc041;
    margin: 10px 10px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7f3e3;
    opacity: 0.8;
    border-radius: 12px;
  }
  .flexContainer {
    padding: 0% 3% 0 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
  }

  .setUp {
    /* padding-top: 25%; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    font-size: 45px;
    font-family: "Bungee", cursive;
    color: #f7f3e3;
  }

  .titleMain {
    padding-top: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    font-size: 30px;
    font-family: "Bungee", cursive;
    color: #f7f3e3;
  }
  .buttons {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
  }
  .btn {
    font-family: "Gugi", cursive;
    background: #7cc041;
    border-radius: 25px;
    border: none;
    color: #f7f3e3;
    min-width: 180px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .response {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
  }
  .submitBtn {
    font-family: "Gugi", cursive;
    background: #7cc041;
    border-radius: 40px;
    border: none;
    color: #f7f3e3;
    min-width: 250px;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  .backBtn {
    text-decoration: none;
    border: none;
    border-radius: 60px;
    padding: 10px 10px;
    background: #7cc041;
    color: #f7f3e3;
    font-size: 12px;
    justify-content: left;
    margin: 20px 30px;
  }

  .btn:hover {
    background: #629733;
    cursor: pointer;
  }

  .btnVote {
    font-family: "Gugi", cursive;
    background: #239bcf;
    border-radius: 25px;
    border: none;
    color: #f7f3e3;
    min-width: 280px;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }

  .btnVote:hover {
    background: #1c7ba4;
    cursor: pointer;
  }
  .prompt {
    background-color: #f7f3e3;
    opacity: 0.8;
    color: #1b3022;
    border-radius: 54px;
    padding: 50px 10px;
    margin: 40px 40px 40px 40px;
  }

  .promptText {
    font-family: "Bungee", cursive;
    text-transform: capitalize;
    font-size: 25px;
    color: #1b3022;
    padding: 50px 10px;
  }
  .infoHost {
    color: #f7f3e3;
    padding: 2% 5% 0% 5%;
    font-family: "Bungee", cursive;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
  }
  .infoBigHost {
    color: #f7f3e3;
    font-family: "Bungee", cursive;
    font-size: 25px;
    text-align: center;
  }

  .infoBigJoin {
    color: #f7f3e3;
    font-family: "Bungee", cursive;
    font-size: 25px;
    text-align: center;
  }

  .infoInstructions {
    color: #f7f3e3;
    font-family: "Bungee", cursive;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
  }
  .infoInstructionsBig {
    color: #f7f3e3;
    padding: 2% 5% 0% 5%;
    font-family: "Bungee", cursive;
    font-size: 30px;
    text-align: center;
  }

  .infoWaiting {
    color: #f7f3e3;
    padding: 5% 5% 0% 5%;
    font-family: "Bungee", cursive;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    margin-top: 25px;
  }

  .gameID {
    font-family: "Bungee", cursive;
    font-size: 45px;
    text-align: center;
    color: #f7f3e3;
  }

  .inputLabels {
    font-family: "Gugi", cursive;
    font-size: 16px;
    color: #f7f3e3;
  }
  .inputField {
    font-size: 16px;
    border-radius: 17px;
    border: none;
    min-width: 100px;
    padding: 10px 16px;
    align-items: flex-end;
    background: #f7f3e3;
    box-shadow: 10px 10px 5px rgb(151, 151, 125) inset;
  }

  .answerField {
    border-radius: 17px;
    border: none;
    min-width: 200px;
    padding: 10px 16px;
    align-items: flex-end;
    background: #f7f3e3;
    box-shadow: 10px 10px 5px rgb(151, 151, 125) inset;
    font-size: large;
  }
  .gremlinizedScreen {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .gremMSG {
    font-size: 25px;
    /* position: absolute; */
    font-family: "Bungee", cursive;
    color: #f7f3e3;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    justify-content: center;
    align-items: center;
  }
  .gremLetter {
    display: inline-block;
    font-size: 35px;
    font-family: "Bungee", cursive;
    color: #f7f3e3;
    background: #8f56a3;
    border-radius: 18px;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    justify-content: center;
    align-items: center;
  }
  .gremlinizedImg {
    display: inline-block;
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .letterGrid {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }

  .gameEndWrapper {
    color: #f7f3e3;
    font-family: "Bungee", cursive;
    font-size: 25px;
    text-align: center;
  }

  .storyOutput {
    font-family: "Bungee", cursive;
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    background-color: #f7f3e3;
    opacity: 0.8;
    color: #1b3022;
    border-radius: 54px;
    padding: 30px 50px;
    line-height: 20px;
  }
  .gameLeaderBoard {
    padding-bottom: 100px;
  }
  .scores {
    color: #f7f3e3;
    font-family: "Bungee", cursive;
    font-size: 15px;
    text-align: left;
    line-height: 55px;
    padding: 0px 10px;
  }
  .greenGremlin1 {
    position: fixed;
    top: 80%;
    left: 10%;
    width: 35%;
  }

  .greenGremlin2 {
    position: fixed;
    top: 5%;
    left: 70%;
    width: 30%;
  }

  .purpGremlin1 {
    position: fixed;
    top: 50%;
    left: 70%;
    width: 35%;
  }
  .pinkGremlin1 {
    position: fixed;
    top: 0%;
    left: 1%;
    width: 30%;
  }
  .blueGremlin1 {
    position: fixed;
    top: 85%;
    left: 30%;
    width: 25%;
  }
  .blueGremlin2 {
    position: fixed;
    top: 90%;
    left: 70%;
    width: 20%;
  }
}
