html,
body {
  margin: 0px;
  padding: 0px;
}
html {
  background: url(img/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
ul {
  list-style-type: none;
}
strong {
  font-family: "Gugi", cursive;
  background: #7cc041;
  border-radius: 25px;
  border: none;
  color: #f7f3e3;
  min-width: 400px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  justify-content: space-evenly;
  align-items: center;
}
.flexContainer {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
}
.setUp {
  font-size: 45px;
  font-family: "Gugi", cursive;
  color: #f7f3e3;
}

.title {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
}
.buttons {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
}
.btn {
  font-family: "Gugi", cursive;
  background: #7cc041;
  border-radius: 25px;
  border: none;
  color: #f7f3e3;
  min-width: 400px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
.prompt {
  background-color: #f7f3e3;
  opacity: 0.8;
  color: #1b3022;
  border-radius: 54px;
  padding: 15% 10%;
}
.info {
  padding-top: 5%;
  font-family: "Gugi", cursive;
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
}
.infoBig {
  font-family: "Gugi", cursive;
  font-size: 45px;
  text-align: center;
}
.gameID {
  font-family: "Gugi", cursive;
  font-size: 80px;
  text-align: center;
}

.inputLabels {
  font-family: "Gugi", cursive;
  font-size: 20px;
}
.inputField {
  border-radius: 25px;
  border: none;
  min-width: 220px;
  padding: 15px 32px;
  align-items: flex-end;
}
.row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}
.row > label {
  padding: 0.5em 1em 0.5em 0;
  flex: 1;
}
.row > input {
  flex: 2;
}

.answerField {
  border-radius: 25px;
  border: none;
  min-width: 400px;
  padding: 15px 32px;
}
.gremlinizedScreen {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.gremMSG {
  font-size: 35px;
  /* position: absolute; */
  font-family: "Gugi", cursive;
  color: #f7f3e3;
  text-align: center;
  text-decoration: none;
  padding: 15px 32px;
  justify-content: center;
  align-items: center;
}
.gremLetter {
  display: inline-block;
  font-size: 35px;
  font-family: "Gugi", cursive;
  color: #f7f3e3;
  background: #8f56a3;
  border-radius: 18px;
  text-align: center;
  text-decoration: none;
  padding: 15px 32px;
  justify-content: center;
  align-items: center;
}
.gremlinizedImg {
  display: inline-block;
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.letterGrid {
  width: 100%;
  text-align: center;
  padding-bottom: 100px;
}
/***********************************************

****************large screen*******************

***********************************************
 */

@media screen and (min-width: 901px) {
}

/***********************************************

****************medium screen*****************

***********************************************
 */

@media screen and (min-width: 601px) {
  @media screen and (max-width: 900px) {
    h1 {
      font-size: large;
    }
  }
}

/***********************************************

****************small screen*****************

***********************************************
 */

@media screen and (max-width: 600px) {
  h1 {
    font-size: 10px;
  }
}
